/*

Eatery Cafe Template 

http://www.templatemo.com/tm-515-eatery

*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

@font-face {
  font-family: NunitoRegular;
  src: url("./fonts/nunito/NunitoSans-Regular.ttf");
}
@font-face {
  font-family: NunitoSansBold;
  src: url("./fonts/nunito/NunitoSans-Bold.ttf");
}
@font-face {
  font-family: OswaldMedium;
  src: url("./fonts/oswald/Oswald-Medium.ttf");
}

@font-face {
  font-family: OswaldBold;
  src: url("./fonts/oswald/Oswald-Bold.ttf");
}

body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}
body {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/*---------------------------------------
   TYPOGRAPHY              
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: inherit;
}

h1 {
  color: #252525;
  font-size: 3em;
  line-height: 50px;
}

h2 {
  color: #353535;
  font-size: 2em;
  padding-bottom: 10px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 0;
}

h3,
h3 a {
  color: #454545;
}

p {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  font-family: NunitoRegular;
}

/*---------------------------------------
   GENERAL               
-----------------------------------------*/

html {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}

a:hover,
a:active,
a:focus {
  color: #ce3232;
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #000000;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  margin: 0;
}

.section-title h4 {
  color: #bfbdbd;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 0;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  padding: 50px 0;
}

#team,
#menu,
#testimonial {
  text-align: center;
}

.about-image img,
.team-thumb img {
  width: 100%;
}

#google-map iframe {
  border: 0;
  width: 100%;
  height: 390px;
}

/*---------------------------------------
   BUTTONS               
-----------------------------------------*/

.logo{
  margin-top: 11px;
}

.section-btn {
  background: #ce3232;
  border-radius: 0;
  border: 0;
  color: #f9f9f9;
  font-size: inherit;
  font-weight: normal;
  padding: 10px 25px;
  transition: 0.5s 0.2s;
}

/*---------------------------------------
     PRE LOADER              
-----------------------------------------*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 3px;
  position: relative;
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #575757;
  border-top-color: #ffffff;
  animation: spinner 0.9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

/*---------------------------------------
    MENU              
-----------------------------------------*/

.custom-navbar {
  border: none;
  margin-bottom: 0;
  padding: 0 0;
}

.custom-navbar .navbar-brand {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

.custom-navbar .navbar-brand span {
  color: #ce3232;
}

.top-nav-collapse {
  background: #ffffff;
}

.custom-navbar .navbar-nav.navbar-nav-first {
  float: right;
  padding-top: 10px;
}

.custom-navbar .navbar-nav.navbar-right li a {
  padding-right: 12px;
  padding-left: 12px;
}

.custom-navbar .navbar-nav.navbar-right .section-btn {
  display: inline-block;
  margin: 0.2em 0 0 1em;
}

.custom-navbar .navbar-nav.navbar-right .section-btn:hover {
  background: #292929;
  color: #ffffff;
}

.custom-navbar .navbar-nav.navbar-right .section-btn:focus {
  color: #ffffff;
}

.custom-navbar .navbar-nav.navbar-right .section-btn a {
  padding: 10px 25px;
}

.custom-navbar .nav .section-btn a:hover {
  color: #ffffff;
}

.custom-navbar .nav li a {
  font-family: OswaldMedium;
  color: #333333;
  font-size: 13px;
  text-transform: uppercase;
}

.custom-navbar .nav li a:hover {
  background: transparent;
  color: #ce3232;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
  background-color: transparent;
  color: #ce3232;
}

.custom-navbar .navbar-toggle {
  border: none;
  padding-top: 10px;
}

.custom-navbar .navbar-toggle {
  background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
  background: #252525;
  border-color: transparent;
}

@media (min-width: 768px) {
  .custom-navbar {
    border-bottom: 0;
    background: 0 0;
  }

  .custom-navbar.top-nav-collapse {
    background: #010100;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 0px 0;
  }

  .top-nav-collapse .navbar-brand {
    color: #454545;
  }

  .top-nav-collapse .nav li a {
    color: #333;
  }

  .top-nav-collapse .nav .section-btn a {
    color: #ffffff;
  }
}

/*---------------------------------------
    HEADER              
-----------------------------------------*/
.top_header {
  background: #586f5f;
  width: 100%;
}

.top_header .row {
  width: 100%;
}

.top_header .email_wrap {
  padding-left: 0px;
}

.top_header .col-sm-2,
.top_header .col-sm-5,
.top_header .col-sm-3,
.top_header .col-sm-1 {
  background: #586f5f;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top_header a {
  color: #fff;
  font-family: NunitoRegular;
  font-size: 14px;
}

.top_header img {
  width: 40px;
}

.top_header img {
  width: 22px;
  margin-right: 5px;
}

.top_header .list_proper {
  background: #bce27f;
  padding: 10px;
}

/*---------------------------------------
    HOME              
-----------------------------------------*/

.home_search_properties {
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px 25px 15px 25px;
  z-index: 1;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
}

#home {
  padding: 0;
}

#home h1 {
  color: #ffffff;
  padding-bottom: 30px;
  text-align: left;
}

#home h3 {
  color: #f9f9f9;
  font-size: 14px;
  line-height: inherit;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}

@media (min-width: 768px) {
  .slider .col-md-8 {
    padding-left: 0;
  }
}

.slider .owl-dots {
  position: absolute;
  top: 50%;
  right: 2em;
  justify-content: center;
}

.owl-theme .owl-dots .owl-dot {
  display: block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
  margin: 7px 10px;
  border: 2px solid #d9d9d9;
  background: transparent;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #ffffff;
  border-color: transparent;
}

.slider .caption {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: rgba(20, 20, 20, 0.2);
  height: 100%;
  color: #fff;
  cursor: e-resize;
  padding: 4em 0 0 2em;
}

.slider .item {
  background-position: inherit;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}

.slider .item-first {
  background-image: url("https://myrealhub.000webhostapp.com/images/slider-image1.jpg");
}

.slider .item-second {
  background-image: url(https://myrealhub.000webhostapp.com/images/slider-image2.jpg);
}

.slider .item-third {
  background-image: url(https://myrealhub.000webhostapp.com/images/slider-image3.jpg);
}

.slider .item-second .section-btn {
  background: #292929;
}

.slider .item-second .section-btn:hover {
  background: #ffffff;
}

.slider .item-third .section-btn {
  background: transparent;
  border: 1px solid #ffffff;
}

.slider .item-third .section-btn:hover,
.slider .item-third .section-btn:focus {
  background: #ce3232;
  border-color: transparent;
  color: #ffffff;
}

.home_section04 {
  padding-top: 50px;
  padding-bottom: 0px;
  display: block;
}

.home_section04v2 h1 {
  color: #fff;
  font-size: 30px;
  padding-top: 250px;
  font-family: OswaldMedium;
}

.home_section04v2 .slick-current h1 {
  padding-top: 270px;
}

.home_section04v2{
  text-align: center;
  height: 800px;
}

.home_section04v2 .wrap{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home_section04v2 img{
  opacity: 0;
}

.home_section04v2 .slick-slide{
  text-align: center;
}

.home_section04v2 .slick-slide .wrap {
  width: 100%;
}

.home_section04v2 .slick-current .wrap {
  
}

.home_section04v2  .slick-prev, .home_section04v2  .slick-next{
  top: 350px !important;
}

.slick-prev:before, .slick-next:before {
  content: unset;
}

.home_section04v2  .slick-prev{
  top: 350px !important;
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-back-512.png);
  height: 100px;
  width: 100px;
  background-size: 100% 100%;
  background-position: 62% 76%;
}

.home_section04v2  .slick-next{
  top: 350px !important;
  background: url(https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-512.png);
  height: 100px;
  width: 100px;
  background-size: 100% 100%;
  background-position: 62% 76%;
}

.slick-prev{
  left: -22px;
}

.slick-next{
  right: -22px;
}

#home .carousel-caption {
    display: block;
    background: rgba(0, 0, 0, 0.6) !important;
    padding: 30px;
    bottom: unset;
}


.home_section04 p {
  padding-bottom: 20px;
}

.home_section04 .vmcarousel-centered-infitine li span {
  color: #fff;
  z-index: 1 !important;
  position: relative;
  padding-top: 10%;
  font-size: 25px;
  font-family: OswaldMedium;
  float: unset;
  top: 150px;
}

.home_section04 .vmc-arrow-left {
  background-image: url(https://myrealhub.000webhostapp.com/images/left_arrow.png);
  background-size: 30%;
  border: 0px !important;
  left: 0%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  top: 24%;
  width: 36px;
  background-repeat: no-repeat;
  height: 272px;
  background-position: 50% 50%;
}

.home_section04 .vmc-arrow-right {
  background-image: url(https://myrealhub.000webhostapp.com/images/right_arrow.png);
  background-size: 30%;
  border: 0px !important;
  right: 0%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0;
  top: 24%;
  width: 36px;
  background-repeat: no-repeat;
  height: 272px;
  background-position: 50% 50%;
}

.vmc-arrow-left:after,
.vmc-arrow-right:after {
  display: none !important;
}

.home_section5 {
  background-image: url(https://myrealhub.000webhostapp.com/images/exploring_places_bg.jpg);
  background-size: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
  margin-top: 100px;
}

.home_section5 .title img {
  width: 500px;
}

.home_section5 .title p {
  color: #fff;
  font-family: NunitoRegular;
}

.home_section5 .citylist ul {
  list-style-type: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

.home_section5 .citylist ul li {
  background-size: 100% 100%;
  width: 230px;
  height: 200px;
  text-align: center;
  float: left;
  padding-top: 80px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.home_section5 .citylist .cebu {
  background-image: url(https://myrealhub.000webhostapp.com/images/explore_cebu.jpg);
}

.home_section5 .citylist .mandaue {
  background-image: url(https://myrealhub.000webhostapp.com/images/explore_mandaue.jpg);
}

.home_section5 .citylist .naga {
  background-image: url(https://myrealhub.000webhostapp.com/images/explore_naga.jpg);
}

.home_section5 .citylist .talisay {
  background-image: url(https://myrealhub.000webhostapp.com/images/explore_talisay.jpg);
}

.home_section5 .citylist .danao {
  background-image: url(https://myrealhub.000webhostapp.com/images/explore_danao.jpg);
}

.home_section5 .citylist .bogo {
  background-image: url(https://myrealhub.000webhostapp.com/images/explore_bogo.jpg);
}

.home_section5 .citylist li span {
  font-family: OswaldMedium;
  color: #fff;
  font-size: 20px;
}

.home_section5 .viewall {
  text-align: center;
  display: block;
  padding-bottom: 50px;
  padding-top: 40px;
  background-image: none;
}

.home_section5 .viewall a {
  font-family: NunitoRegular;
  color: #fff;
  text-transform: uppercase;
  border: solid 1px #ada6a6;
  padding: 8px 30px;
}

.home_section06 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.home_section06 .header {
  padding-bottom: 50px;
}

.home_section06 .col-sm-4 {
  height: 150px;
}

.latest .carousel-caption {
  background: rgba(0, 0, 0, 0.8) !important;
  left: 0%;
  right: 60%;
  top: 0%;
  bottom: 0%;
  padding-top: 100px;
  display: block;
}

.latest .carousel-caption h1,
.latest .carousel-caption h3,
.latest .carousel-caption p {
  color: #fff;
}

.latest .carousel-caption .by {
  color: #10ff00;
}

.carousel-caption a {
  color: #fff;
  border: solid 0px #fff;
  padding: 5px 10px 7px 10px;
  left: 0;
  display: block;
  width: 150px;
  background: #292929;
  margin: 0 auto;
}

#home .carousel-caption a {
  margin-left: unset;
}

.carousel-caption {
  left: unset;
  right: unset;
  top: 30%;
}

.carousel-indicators {
  bottom: 0px;
}

.form-inline .form-group {
  margin: 3px;
}

.footer {
  padding-bottom: 30px;
}

.footer .nav {
  float: right;
  position: absolute;
  right: 0;
  padding-top: 20px
}
.footer .col-sm-3 {
  padding-top: 50px;
}

.footer .nav a {
  color: #777;
  text-decoration: none;
  background-color: transparent;
  font-family: OswaldMedium;
  margin-left: 0px;
  font-size: 12px;
  position: relative;
}


.footer .nav li {
  float: left;
}

.footer hr {
  padding-top: 10px;
  margin-top: 60px;
  margin-bottom: 0px;
  border: 0;
  border-top: 1px solid #565252;
}

.footer .copyright {
  position: relative;
  color: #777;
  font-size: 13px;
  margin-top: 10px;
}

.footer .social  {
    float: right;
    margin-top: -35px;
}
/*---------------------------------------
    ABOUT              
-----------------------------------------*/

#about {
  padding-bottom: 0;
}

.about-info {
  padding: 0 6em 2em 0;
}

.about-info .section-title {
  padding-bottom: 20px;
}

.about-image {
  position: absolute;
}

/*---------------------------------------
    TEAM              
-----------------------------------------*/

#team {
  background: #f9f9f9;
}

.team-thumb {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.team-info {
  padding: 10px 30px 20px 30px;
}

.team-thumb .team-hover {
  position: absolute;
  background: #1c1c1c;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: 0.5s 0.2s;
}

.team-thumb:hover .team-hover {
  opacity: 0.95;
  transition-delay: 0.3s;
  transform: translateY(0);
}

.team-thumb img {
  transition: 0.5s 0.2s;
}

.team-thumb:hover img {
  transform: scale(1.2);
}

.team-thumb .social-icon li a {
  background: #292929;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  color: #d9d9d9;
  font-size: 20px;
  margin: 15px 5px 0 5px;
}

.team-thumb .team-item {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.team-item h4 {
  color: #ffffff;
}

.team-info p {
  color: #bfbdbd;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5px;
}

/*---------------------------------------
   MENU              
-----------------------------------------*/
#home_trending .container {
  width: 100%;
}

#home_trending .col-md-6 {
  margin: 0;
  padding: 0;
}

#home_trending .menu-thumb {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 102%;
}

/*---------------------------------------
   MENU              
-----------------------------------------*/

#menu {
  padding-bottom: 0;
}

#menu .container {
  width: 100%;
  padding: 0;
}

#menu .col-md-4 {
  margin: 0;
  padding: 0;
}

.menu-thumb img {
  width: 100%;
  transition: 0.5s;
}

.menu-thumb:hover img {
  transform: scale(1.15);
}

#menu .menu-thumb {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 102%;
}

.menu-thumb .menu-info {
  position: absolute;
  top: 60%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: left;
  padding: 25px 30px;
  transition: 0.5s 0.2s;
}

.menu-info .menu-item {
  float: left;
}

.menu-info .menu-price {
  float: right;
}

.menu-info .menu-price span {
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  display: block;
  margin-top: 10px;
}

.menu-thumb .menu-info h3,
.menu-thumb .menu-info p,
.menu-thumb .menu-info span {
  transform: translateY(100%);
  opacity: 0;
  display: block;
  transition: 0.5s 0.2s;
  color: #ffffff;
  z-index: 2;
  position: relative;
}

.menu-thumb .menu-info h3 {
  margin-top: 0;
}

.menu-thumb .menu-info p {
  color: #d9d9d9;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

.menu-thumb:hover .menu-info h3,
.menu-thumb:hover .menu-info p,
.menu-thumb:hover .menu-info span {
  transform: translateY(0px);
  opacity: 1;
}

.menu-thumb:hover .menu-info {
  background: rgba(0, 0, 0, 0.8);
}

/*---------------------------------------
    HOME             
-----------------------------------------*/

.viewall {
  background-image: url(https://myrealhub.000webhostapp.com/images/viewall_img01.png);
  text-align: center;
  height: 90px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.viewall a,
.viewall a {
  color: #fff;
  font-family: NunitoRegular;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
}

.home_section03 .content {
  color: #fff;
  padding-top: 51%;
  padding-left: 30%;
  height: 560px;
}

.home_section03 .col-sm-6 {
  background-color: rgba(0, 0, 0, 0.8);
}

.home_section03 .content h1,
.home_section03 .content p {
  font-family: NunitoSansBold;
  color: #fff !important;
}

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*---------------------------------------
    TESTIMONIAL             
-----------------------------------------*/

#testimonial {
  background: url("https://myrealhub.000webhostapp.com/images/testimonial-bg.jpg")
    center center no-repeat;
  background-size: cover;
}

#testimonial .owl-dots {
  position: relative;
  top: 0;
  right: 0;
  justify-content: center;
}

#testimonial .owl-theme .owl-dots .owl-dot,
#testimonial .owl-theme .owl-dots .owl-dot span {
  display: inline-block;
}

#testimonial .owl-theme .owl-dots .owl-dot span {
  margin: 20px 5px;
}

#testimonial h2 {
  color: #ffffff;
}

#testimonial p,
.tst-author h4,
.tst-author span {
  display: inline;
}

#testimonial p {
  color: #d9d9d9;
  font-size: 20px;
  line-height: 35px;
}

.tst-author {
  margin-top: 20px;
}

.tst-author h4,
.tst-author span {
  color: #b2b2b2;
}

.tst-author span {
  margin-left: 5px;
}

/*---------------------------------------
    CONTACT             
-----------------------------------------*/

#contact .section-title {
  padding-bottom: 0;
}

#contact .text-success,
#contact .text-danger {
  display: none;
}

#contact .form-control {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dddddd;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 15px;
  transition: all ease-in-out 0.4s;
}

#contact .form-control:hover,
#contact .form-control:focus {
  border-bottom-color: #c9c9c9;
}

#contact input {
  height: 55px;
}

#contact button#cf-submit {
  background: #ce3232;
  border-radius: 0;
  border: 0;
  color: #ffffff;
  font-weight: bold;
  height: 50px;
}

#contact button#cf-submit:hover {
  background: #292929;
  color: #ffffff;
}

/*---------------------------------------
   FOOTER              
-----------------------------------------*/

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 120px 0;
  padding-bottom: 80px;
}

footer .section-title {
  padding-bottom: 10px;
}

footer h2 {
  font-size: 20px;
}

footer a,
footer p {
  color: #909090;
}

footer strong {
  color: #d9d9d9;
}

footer address p {
  margin-bottom: 0;
}

.footer-info,
footer .social-icon {
  margin-top: 20px;
}

.footer-open-hour {
  background: #ce3232;
  background: url("https://myrealhub.000webhostapp.com/images/footer-open-hour-bg.jpg")
    center center no-repeat;
  background-size: cover;
  border-radius: 20px;
  margin-top: 0;
  padding: 40px 0 40px 80px;
  overflow: hidden;
  position: relative;
  z-index: 22;
  right: 20px;
  bottom: 20px;
}

.footer-open-hour::after {
  background: rgba(29, 29, 29, 0.85);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2222;
}

.footer-open-hour h2 {
  color: #ffffff;
}

.footer-open-hour p {
  color: #d9d9d9;
}

.footer-open-hour strong {
  color: #f9f9f9;
}

/*---------------------------------------
   SOCIAL ICON              
-----------------------------------------*/

.social-icon {
  position: relative;
  padding: 0;
  margin: 0;
}

.social-icon li {
  display: inline-block;
  list-style: none;
  margin-bottom: 5px;
}

.social-icon li a {
  border-radius: 100px;
  color: #ce3232;
  font-size: 15px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-decoration: none;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
}

.social-icon li a:hover {
  background: #ce3232;
  color: #ffffff;
}

.slider {
  width: 100%;
  margin: 0px auto;
}

#home {
  width: 100%;
  margin: 0px auto;
}

.slick-slide {
  margin: 0px 0px;
}

.slick-slide img {
  width: 100%;
  height: 350px;
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0;
}

.slick-active {
  opacity: 0.5;
  display: block;
  text-align: center;
}

.slick-current {
  opacity: 1;
  margin-top: -25px;
}

.property_section_02 .slick-current img {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.slick-active span,
.slick-slide span {
  color: #fff;
  z-index: 1 !important;
  position: relative;
  font-size: 25px;
  font-family: OswaldMedium;
  top: 200px;
}

.slick-current span {
  top: 220px;
}

  /*Search styles*/
  .pr_0{
    padding-right: 0px !important;
  }
  
  .pl_0{
    padding-left: 0px !important;
  }
  
    .search_page .search_slider{
      padding-top: 100px;
      display: block;
    }
  
    .search_page .slick-active{
      text-align: left;
    }
  
    .search_page .slick-active span, .search_page .slick-slide span {
      font-size: 20px;
      top: 50px;
      padding-left: 20px;
      text-transform: uppercase;
    }
  
    .search_page .slide_description {
      position: absolute;
      top: 280px;
      padding-left: 20px;
    }
  
    .search_page .slide_description p {
      color: #fff;
      line-height: 15px;
  }
  
  .search_page .slide_description .price {
      font-size: 20px;
      font-weight: bold;
  }
  
    .search_page .slider .search-item-first {
      background-image: url(https://myrealhub.000webhostapp.com/images/search/banner.jpg);
    }
  
    .search_page .search_pro_near{
      padding-top: 60px;
    }
  
    .search_page .search_pro_near img{
      width: 300px;
    }
  
    .search_page .search_list{
      padding-top: 50px;
    }
  
    .search_page .search_list .search_list_wrap{
      padding-bottom: 20px;
      display: inline-block;
    }
  
    .search_page .search_list .search_list_wrap img{
      width: 100%;
    }
  
   .search_page .search_list img{
    width: 100%;
   }
  
    .search_page .search_list h4{
      color: #586f5f;
      text-transform: uppercase;
      font-size: 25px;
      font-family: OswaldBold;
      padding: 0 !important;
      margin: 0 !important;
    }
  
    .search_page .search_list h5{
      color: #738e49;
      font-size: 25px;
      font-family: OswaldBold;
      padding: 0 0 20px 0 !important;
      margin: 0 !important;
    }
  
    .search_page .search_list h5 span{
      font-family: NunitoSansBold;
    }
  
    .search_page .search_list p{
      padding-top: 10px;
      font-size: 15px;
    }
  
    .search_pro_near .view_all{
      text-align: center;
      padding-top: 10px;
    }
  
    .search_pro_near .view_all a{
      color: #000;
      border: solid 1px #8c7676;
      padding: 10px 50px;
    }
  
    .search_pro_near .view_all a:hover{
      opacity: .6;
    }
  
    .search_home_section6{
      padding: 20px;
      text-align: center;
    }
  
    .search_home_section6 h4 {
      color: #586f5f;
      text-transform: uppercase;
      font-size: 25px;
      font-family: OswaldBold;
      padding: 0 !important;
      margin: 0 !important;
      line-height: 1.5em;
    }
  
    .search_home_section6 a {
      color: #fff;
      text-transform: uppercase;
      font-size: 19px;
      font-family: OswaldBold;
      padding: 12px 35px !important;
      margin: 0 !important;
      line-height: 1.5em;
      background-color: #bce27f;
      margin-top: 10px;
      display: block;
      width: 170px;
      text-align: center;
  }
  
  
          .vmc-centered{ padding: 10px 0; }
          .vmc-centered img { transition: all 0.3s ease; }
          .vmc-centered .vmc_active img { transform: scale(1.2); }
  
      html, body {
        margin: 0;
        padding: 0;
      }
  
      * {
        box-sizing: border-box;
      }
  
      .slider {
          width: 100%;
          margin: 0px auto;
      }
  
      #home{
          width: 100%;
          margin: 0px auto;
      }
  
  
      .slick-slide {
        margin: 0px 0px;
      }
  
      .slick-slide img {
        width: 100%;
        height: 350px;
      }
  
      .slick-prev:before,
      .slick-next:before {
        color: black;
      }
  
  
      .slick-slide {
        transition: all ease-in-out .3s;
        opacity: .5;
      }
      
      .slick-active {
        opacity: 1;
        display: block;
        text-align: center;
      }
  
      .slick-current {
        opacity: 1;
        margin-top: -25px;
      }
  
      .slick-current img{
        height: 400px;
      }
  
    .slick-active span, .slick-slide span {
        color: #fff;
        z-index: 1 !important;
        position: relative;
        font-size: 25px;
        font-family: OswaldMedium;
        top: 200px;
    }
  
    .slick-current span{
        top: 220px;
      }
  
  
      .slider .item-search {
      background-image: url(https://myrealhub.000webhostapp.com/images/search/banner.jpg);
    }
  
    .search_home_section5 {
        background-image: url(https://myrealhub.000webhostapp.com/images/search/banner02.jpg);
        background-size: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-top: 50px;
        margin-top: 100px;
    }
  
    .search_home_section5 .img_bottom img{
      width: 100%;
    }
  
    .search_home_section5 .img_bottom .col-md-8 span {
        z-index: 2;
        color: #fff;
        font-size: 25px;
        font-family: OswaldMedium;
        padding-top: 40%;
        display: block;
    }
  
  .search_home_section5 .img_bottom .cebu {
      background-image: url(https://myrealhub.000webhostapp.com/images/search/cebu.jpg);
      height: 320px;
      display: block;
      background-size: 100%;
      width: 100%;
      background-repeat: no-repeat;
  }
  
  .search_home_section5 .img_bottom .mandaue {
      background-image: url(https://myrealhub.000webhostapp.com/images/search/mandaue.jpg);
      height: 320px;
      display: block;
      background-size: 100%;
      width: 100%;
      background-repeat: no-repeat;
  }
  
  .search_home_section5 .img_bottom .talisay {
      background-image: url(https://myrealhub.000webhostapp.com/images/search/talisay.jpg);
      height: 320px;
      display: block;
      background-size: 100%;
      width: 100%;
      background-repeat: no-repeat;
  }
  
  .search_home_section5 .img_bottom .danao {
      background-image: url(https://myrealhub.000webhostapp.com/images/search/danao.jpg);
      height: 320px;
      display: block;
      background-size: 100%;
      width: 100%;
      background-repeat: no-repeat;
  }
  
    .search_home_section5 .col-md-8{
      padding-left: 0px !important;
      text-align: center;
    }
  
    .search_home_section5 .col-md-4 img{
      height: 670px;
    }
  
    .search_home_section5 .title{
      padding-bottom: 50px;
    }
  
    .search_home_section5 .col-md-6{
       padding-bottom: 30px;
    }
  
  .search_home_section5 .viewall {
      background-image: none;
      border: solid 1px #fff;
      height: auto;
      width: 160px;
      margin: 0 auto;
  }
  
  .search_home_section5 .viewall a{
        margin: 0px !important;
  }
  
  /*Property detail page*/
  .propertydetail_page .banner img{
    width: 100%;
  }
  
  .propertydetail_page #thumbnail-preview-indicators {
    position: relative;
    overflow: hidden;
  }
  .propertydetail_page #thumbnail-preview-indicators .slides .slide-1,
  .propertydetail_page #thumbnail-preview-indicators .slides .slide-2,
  .propertydetail_page #thumbnail-preview-indicators .slides .slide-3 {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .propertydetail_page #thumbnail-preview-indicators,
  .propertydetail_page #thumbnail-preview-indicators .slides,
  .propertydetail_page #thumbnail-preview-indicators .slides .slide-1,
  .propertydetail_page #thumbnail-preview-indicators .slides .slide-2,
  .propertydetail_page #thumbnail-preview-indicators .slides .slide-3 {
    height: 480px;
  }
  .propertydetail_page #thumbnail-preview-indicators .slides .slide-1 {
    background-image: url(https://s3.amazonaws.com/ooomf-com-files/wdXqHcTwSTmLuKOGz92L_Landscape.jpg);
  }
  .propertydetail_page #thumbnail-preview-indicators .slides .slide-2 {
    background-image: url(https://s3.amazonaws.com/ooomf-com-files/tU3ptNgGSP6U2fE67Gvy_SYDNEY-162.jpg);
  }
  .propertydetail_page #thumbnail-preview-indicators .slides .slide-3 {
    background-image: url(https://s3.amazonaws.com/ooomf-com-files/mtNrf7oxS4uSxTzMBWfQ_DSC_0043.jpg);
  }
  .propertydetail_page #thumbnail-preview-indicators .carousel-inner .item .carousel-caption {
    top: 20%;
    bottom: inherit;
  }
  
  /* CAROUSEL INDICATORS */
  .propertydetail_page #thumbnail-preview-indicators .carousel-indicators li,
  .propertydetail_page #thumbnail-preview-indicators .carousel-indicators li.active {
    width: 152px;
    height: auto;
    max-height: 102px;
    display: table-cell;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 1px;
  }
  .propertydetail_page #thumbnail-preview-indicators .carousel-indicators li.active {
    border: 1px solid red;
  }
  .propertydetail_page #thumbnail-preview-indicators .carousel-indicators li > .thumbnail {
    width: 150px;
    height: auto;
    max-height: 100px;
    overflow: hidden;
    
    opacity: 0.8;
    display: block;
    padding: 0;
    margin-bottom: 0;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    transition: all 550ms ease-out;
  }
  .propertydetail_page  #thumbnail-preview-indicators .carousel-indicators li:hover > .thumbnail,
  .propertydetail_page  #thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover {
    position: relative;
    display: block;
    border: 1px solid white;
    opacity: 1;
    transform: scale(1.5);
    z-index: 1;
  }
  .propertydetail_page  #thumbnail-preview-indicators .carousel-indicators li.active > .thumbnail:hover {
    border: 1px solid red;
  }
  
  .propertydetail_page .indicators_slide{
    height: 150px !important;
  }
  
  .propertydetail_page .indicators_slide .carousel-indicators{
    left: 38% !important;
  }
  
  .carousel-caption {
    display: none;
  }
  
  .property_section_02{
    padding-top: 90px;
  }
  
  .propertydetail_section_03{
      background-color: #586f5f;
      padding: 0px 25px;
      margin-top: -35px;
  }
  
  .propertydetail_section_03 h1, .propertydetail_section_04 h1, .propertydetail_section_05 h1  {
      color: #fff;
      font-size: 25px;
      padding-top: 10px;
  }
  
  .propertydetail_section_03 ul li {
      color: #fff;
      float: left;
      width: 50%;
  }
  
  .propertydetail_section_03 ul {
      display: inline-block;
  }
  
  .propertydetail_section_04 {
      background-color: #586f5f;
      margin-top: 20px;
      padding: 0px 25px 25px 25px;
  }
  
  .propertydetail_section_04 .col-md-6{
      color: #fff;
      font-size: 13px;
      text-align: right;
  }
  
  .propertydetail_section_04 .col-md-6 label{
      background: #fff;
      color: #586f5f;
      font-weight: normal;
      width: 100%;
      padding: 0 10px;
      text-align: left;
  }
  
  .propertydetail_section_04 .row {
    padding-bottom: 5px;
  }
  
  .propertydetail_section_05 {
      background-color: #586f5f;
      padding: 0px 25px 15px 25px;
  
  }
  
  .propertydetail_section_05 p {
    color: #fff;
    font-size: 14px;
  }
  
  .propertydetail_section_06 {
      background-image: url(https://myrealhub.000webhostapp.com/images/propertydetail/related.jpg);
      background-size: 100% 100%;
      height: auto;
      margin-top: 20px;
  }
  
  .propertydetail_section_06 .list{
      margin-top: 30px;
  }
  
  .propertydetail_section_06 .col-md-4 {
      height: 315px;
      background-size: 80% 90%;
      background-repeat: no-repeat;
      padding: 0;
  }
  
  .propertydetail_section_06 .for_rent {
      float: right;
      margin-right: 73px;
      margin-top: 15px;
      width: 100px;
      font-size: 12px;
      padding-top: 1px;
      text-align: center;
      color: gray;
  }
  
  .propertydetail_section_06 .building{
      color: #fff;
      font-weight: bold;
      margin-top: 55%;
      padding-left: 20px;
      font-size: 16px;
  }
  
  .propertydetail_section_06 .per_month{
      color: #fff;
      font-weight: normal;
      padding-left: 20px;
      font-size: 16px;
  }
  
  .propertydetail_section_07 p {
      background: #ef8609;
      color: #fff;
      text-align: center;
      font-weight: bold;
      font-size: 35px;
      font-family: OswaldMedium;
      padding: 20px;
  }
  
  .propertydetail_section_08 {
      background: #586f5f;
      padding: 20px;
      margin-top: 25px;
  }
  
  .propertydetail_section_08 p {
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      font-family: OswaldMedium;
      line-height: 1.1em;
  }
  
  .propertydetail_section_08 .price  {
    color: #bce27f;
    font-size: 19px;
    font-family: unset;
}
  
  .propertydetail_section_08 .details {
      color: #fff;
      padding-top: 20px;
      font-weight: normal;
      font-family: unset;
  }
  
  .propertydetail_section_08 .details .icon {
      width: 40px;
      float: left;
  }
  
  .propertydetail_section_09 {
      padding: 20px;
      background: #f1e6eb;
      margin-top: 30px;
  }
  
  .propertydetail_section_09 .circle {
      width: 90px;
      border-radius: 50%;
  }
  
  .propertydetail_section_09 .listed {
      color: #586f5f;
      display: block;
      font-size: 17px;
  }
  
  .propertydetail_section_09 .name {
      color: #bce27f;
      display: block;
      font-size: 31px;
      font-family: fantasy;
      line-height: 0.8em;
  }
  
  .propertydetail_section_09 .since {
      color: #586f5f;
      display: block;
      font-size: 12px;
  }
  
  .propertydetail_section_10 {
      padding: 20px 40px 
      ;
      background: #f1e6eb;
      margin-top: 30px;
  }
  
  .propertydetail_section_10 label {
      display: block;
      font-weight: normal;
      font-style: italic;
      margin-top: 20px;
      line-height: 01;
      font-size: 14px;
  }
  
  .propertydetail_section_10 input[type="text"]{
    background: #fff;
    border: 0px;
    width: 100%;
    padding: 5px 10px;
  }
  
  .propertydetail_section_10 textarea {
      background: #fff;
      border: 0px;
      width: 100%;
      height: 120px;
      padding: 5px 10px;
  }
  
  .propertydetail_section_10 input[type="submit"] {
      background: #bce27f;
      border: 0px;
      width: 40%;
      padding: 8px 10px;
      float: right;
      color: #000;
      margin-top: 15px;
  }
  
  .property_page .banner img{
      width: 100%;
  }
  
  .property_page01{
    margin-top: 150px;
  }
  
  .property_page01 img{
    width: 400px ;
  }
  
  .property_page01 p{
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: NunitoRegular;
  }
  
  .property_page02 .col-md-4 img{
    width: 100%;
  }
  
  .property_page02 .col-md-4 {
      background: #586f5f;
      padding: 15px;
      margin: 5px;
      width: 32.33%;
  }
  
  .property_page02 .col-md-4 .title {
      color: #fff;
      font-size: 20px;
      margin: 0px;
      line-height: 1em;
      padding-top: 10px;
  }
  
  .property_page02 .col-md-4 .price {
      color: #fff;
      margin: 0;
      padding: 0;
      font-size: 18px;
      padding-bottom: 10px;
  }
  
  .property_page02 .col-md-4 .thumbnail {
      width: 35px;
      background: transparent;
      border: 0;
      float: left;
  }
  
  .property_page02 .col-md-4 .col-md-6 {
      padding: 0px;
      margin: 0px;
      height: 50px;
  }
  
  .property_page02 .col-md-4 .col-md-6 label {
      color: #ffffff;
      font-weight: normal;
      padding-top: 5px;
      padding-left: 10px;
  }
  
  .property_page02 .viewall {
      width: 150px;
      margin: 0 auto;
      color: #203226;
      border: solid 1px #203226;
      display: block;
      background: unset;
      height: auto;
      font-size: 18px;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 50px;
  }
  
  .property_page03 {
    background-image: url(https://myrealhub.000webhostapp.com/images/propertypage/bg.jpg);
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-repeat: no-repeat;
  }
  
  .property_page03 .title{
    width: 250px;
    margin-bottom: 50px;
    margin-left: -15px;
  }
  
  .property_page03 .cebucity {
      background-image: url(https://myrealhub.000webhostapp.com/images/propertypage/img02.jpg);
      background-size: 100% 100%;
      height: 300px;
      text-align: center;
      padding-top: 120px;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      margin-right: 20px;
  }
  
  .property_page03 .mandauecity {
      background-image: url(https://myrealhub.000webhostapp.com/images/propertypage/img03.jpg);
      background-size: 100% 100%;
      height: 300px;
      text-align: center;
      padding-top: 120px;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      width: 73%;
  }
  
  .property_page03 .danaocity {
      background-image: url(https://myrealhub.000webhostapp.com/images/propertypage/img05.jpg);
      background-size: 100% 100%;
      height: 300px;
      text-align: center;
      padding-top: 120px;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      margin-top: 20px;
  }
  
  .property_page03 .talisaycity {
      background-image: url(https://myrealhub.000webhostapp.com/images/propertypage/img04.jpg);
      background-size: 100% 100%;
      height: 300px;
      text-align: center;
      padding-top: 120px;
      color: #fff;
      font-weight: bold;
      font-size: 25px;
      width: 73%;
      margin-right: 20px;
      margin-top: 20px;
  }
  
  .property_page03 .viewall {
      color: #fff;
      margin: 0 auto;
      width: 200px;
      display: block;
      border: solid 1px #fff;
      padding-top: 5px;
      font-size: 18px;
      background: unset;
      margin-top: 40px;
      height: 45px;
  }
  
  
  .property_page04 {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  
  .property_page04 .title{
    width: 160px;
    margin-bottom: 50px;
    margin-left: -15px;
  }
  
  .property_page04 .col-md-4{
    height: 150px;
    text-align: center;
  }
  
  .property_page04 .col-md-4 img{
    width: 200px;
  }
  
  .newdev_banner img {
      width: 100%;
      height: 600px;
  }
  
  .newdev_page01 .title {
    padding-top: 100px;
  }
  
  .newdev_page01 .title img{
    width: 650px;
  }
  
  .newdev_page02{
    padding-top: 20px;
  }
  
  .newdev_page02 h1{
    color: #586f5f;
    font-size: 25px;
    font-family: OswaldBold;
  }
  
  .newdev_page02 h1 span{
    color: #738e49;
  }
  
  .newdev_page02 img{
    width: 100%;
  }
   
  .newdev_page02 .row {
      background: #203125;
      padding: 30px 15px;
      width: 99%;
      margin: 0 auto;
      margin-bottom: 30px;
  }
  
  .newdev_page02 .img01 img{
    height: 583px;
  }
  
  .newdev_page02 .row .img02,.newdev_page02 .row .img03 {
    margin-bottom: 30px;
  }
  
  .newdev_page02 .details a{
    background: #bce27f;
    font-family: NunitoRegular;
  }
  
  .newdev_page02 .details a {
      background: #bce27f;
      font-family: NunitoRegular;
      padding: 6px 26px;
      font-size: 20px;
  }
  
  .newdev_page02 .details a:hover{
    opacity: .8;
  }
  
   
  .newdev_page02 .details .span{
      margin-right: 20px;
  }
  
  .newdev_page03{
    padding-bottom: 30px;
  }
  
  .newdev_page03 a {
      background: #bce27f;
      padding: 7px 15px;
      border-radius: 1px;
  }
  
  .newdev_page03 .right{
    text-align: right;
  }
  
  .exploreplaces_page01 .title{
    margin-top: 150px;
  }
  
  .exploreplaces_page01 .title img{
    width: 300px;
    margin-bottom: 20px;
  }
  
  .exploreplaces_page01 .col-md-6{
    padding: 0px;
  }
  
  .exploreplaces_page01 .col-md-6 img{
    width: 100%;
  }
  
  .exploreplaces_page01 .wrap01 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img01.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap02 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img02.jpg);
      background-size: 100% 100%;
      height: 550px;
      padding-top: 500px;
  }
  
  .exploreplaces_page01 .wrap03 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img03.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap04 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img04.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap05 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img05.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap06 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img06.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap07 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img07.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap08 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img08.jpg);
      background-size: 100% 100%;
      height: 550px;
      padding-top: 500px;
  }
  
  .exploreplaces_page01 .wrap09 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img09.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap10 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img10.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap11 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img11.jpg);
      background-size: 100% 100%;
      height: 550px;
      padding-top: 500px;
  }
  
  .exploreplaces_page01 .wrap12 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img12.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap13 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img13.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap14 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img14.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap15 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img15.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap16 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img16.jpg);
      background-size: 100% 100%;
      height: 550px;
      padding-top: 500px;
  }
  
  .exploreplaces_page01 .wrap17 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img17.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap18 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img18.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap19 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img19.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap20 {
      background: url(https://myrealhub.000webhostapp.com/images/exploreplaces/img20.jpg);
      background-size: 100% 100%;
      height: 300px;
      padding-top: 250px;
  }
  
  .exploreplaces_page01 .wrap:hover{
    opacity: .8;
  }
  
  .exploreplaces_page01 label {
      position: relative;
      left: 0;
      bottom: 0;
      color: #fff;
      padding-left: 20px;
      font-size: 30px;
      font-family: OswaldBold;
  }
  
  .exploreplaces_page01{
    padding-bottom: 50px;
  }
  
  /*LOGIN*/
   
   .mrh_login {
    padding: 25px;
    background: url(https://myrealhub.000webhostapp.com/images/login/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 90%;
  }
  
   .mrh_login .login{
    float: left;
   }
  
    .mrh_login .login a{
      color: #fff;
      font-size: 13px;
      font-family: NunitoRegular;
    }
  
   .mrh_login .needhelp{
    float: right;
   }
  
  .mrh_login .needhelp a{
    color: #fff;
    font-size: 13px;
    margin-left: 10px;
    font-family: NunitoRegular;
  } 
  
  .mrh_login .needhelp .signin {
      background: #fa6432;
      padding: 10px 15px;
      border-radius: 50px;
      font-size: 12px;
  }
  
  .mrh_login .form{
    padding: 5%;
  }
  
  .mrh_login .form .logo img{
    width: 400px;
  }
  
  .mrh_login .form .logo{
    padding-top: 20%;
  }
  
  .mrh_login .loginform{
    background: #fff;
    border-radius: 15px;
    padding: 5% 10%;
  }
  
  .mrh_login .loginform .top{
    display: block;
    height: 50px;
  }
  
  .mrh_login .loginform .top .left{
    float: left;
    color: #3d3d3d;
    font-family: NunitoRegular;
  }
  
  .mrh_login .loginform .top .right p, .mrh_login .loginform .top .right p{
    float: right;
    color: #3d3d3d;
    font-family: NunitoRegular;
  }
  
  .mrh_login .loginform .top .right a{
    color: #2da728;
    font-family: NunitoRegular;
  }
  
  .mrh_login .loginform input[type="text"], .mrh_login .loginform input[type="password"]{
      width: 100%;
      margin-bottom: 15px;
      border-radius: 50px;
      background: unset;
      border-image: unset;
      border: solid 1px #c8c8c8 !important;
      padding: 5px 10px;
  }
  
  .mrh_login .loginform input[type="text"]:focus, .mrh_login .loginform input[type="password"]:focus, .mrh_login .loginform input[type="submit"]:focus{
          outline: none;
  }
  
  .mrh_login .loginform input[type="submit"] {
      background: #adee90;
      width: 100%;
      border-radius: 50px;
      border: 0px;
      padding: 6px;
      color: #586f5f;
      font-size: 15px;
  }
  
  .mrh_login .forgotpass{
    float: left;
    color: #6f6f6f;
    font-size:14px;
    padding-top: 30px;
  }
  
  .mrh_login .loginwithsms{
    float: right;
    color: #6f6f6f;
    font-size:14px;
    padding-top: 30px;
  }
  
  .mrh_login .loginhr{
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
  }
  
  .mrh_login .loginhr hr{
    border-top: solid 1px #333333;
  }
  
  .mrh_login .loginhr label{
    padding-top: 5px;
    font-weight: normal;
  }
  
  .mrh_login .loginhr .col-md-5{
    padding: 0px;
    margin: 0px;
  }
  
  .mrh_login .social .facebook {
      float: left;
      background: #056888;
      color: #fff;
      text-align: center;
      width: 45%;
      border-radius: 50px;
      padding: 5px;
  }
  
  .mrh_login .social img {
      width: 7px !important;
      margin-right: 5px;
  }
  
  .mrh_login .social .gmail {
      float: right;
      background: #056888;
      color: #fff;
      text-align: center;
      width: 45%;
      border-radius: 50px;
      padding: 5px;
  }
  
  .mrh_login_footer {
      background: #001b24;
      height: 10%;
      padding-top: 15px;
  }
  
  .mrh_login_footer a {
      color: #fff;
      font-size: 11px;
      margin-right: 20px;
  }
  
  .mrh_login_footer .fmenu{
    float: left;
  }
  
  .mrh_login_footer .copyr{
    float: right;
    color: #fff;
    font-size: 11px;
  }
  
  .mrh_login .login img{
    width: 250px;
  }
  
  .mrh_login .signupform .row{
      width: 300px;
      background: red;
      text-align: center;
      margin: 0 auto;
  }
  
  .mrh_login .signupform {
      width: 300px;
      text-align: center;
      margin: 0 auto;
  }
  
  .mrh_login .signupform{
    padding: 20px;
  }
  
  .mrh_login .signupform .logo{
    margin-bottom: 30px;
  }
  
  .mrh_login .signupform input[type="text"] {
      margin-bottom: 15px;
      background: transparent;
      border: solid 1px #fff;
      border-radius: 50px;
      padding: 5px 10px;
      color: #fff;
  }
  
  .mrh_login .signupform input[type="checkbox"] {
      float: left;
      margin-top: 5px;
  }
  
  .mrh_login .signupform .checkbox {
      text-align: center;
      font-size: 13px;
  }
  
  .mrh_login .signupform .checkbox {
      text-align: center;
      font-size: 13px;
  }
  
  .mrh_login .signupform .checkbox a {
    color: #d65e39;
  }
  
  .mrh_login .signupform input[type="text"]:focus{
    outline: none;
  } 
  
  .mrh_login .signupform input[type="submit"]{
      background: #c4f683;
      border: 0px;
      border-radius: 50px;
      width: 100%;
      padding: 5px;
      margin-top: 10px;
      margin-bottom: 15px;
  }
  
  .mrh_login .signupform .memb {
      color: #ffffff;
      font-size: 12px;
  }
  
  .mrh_login .signupform .username {
      background-image: url(https://myrealhub.000webhostapp.com/images/login/profile.png) !important;
      background-repeat: no-repeat !important;
      background-position: 95% 40% !important;
  }
  
  .mrh_login .signupform .email {
      background-image: url(https://myrealhub.000webhostapp.com/images/login/email.png) !important;
      background-repeat: no-repeat !important;
      background-position: 95% 40% !important;
  }
  
  .mrh_login .signupform .password {
      background-image: url(https://myrealhub.000webhostapp.com/images/login/lock.png) !important;
      background-repeat: no-repeat !important;
      background-position: 95% 40% !important;
  }

  .developerspage .banner img{
    height: 500px;
    width: 100%;
  }
  
  .developers_page01 .title{
    width: 200px;
    margin-top: 120px;
  }
  
  .developers_page02 .images{
    width: 100%;
  }
  
  .developers_page02 h1{
    color: #ffffff;
    font-family: OswaldBold;
    padding-top: 100px;
    font-size: 40px;
  }
  
  .developers_page02 p{
    color: #ffffff;
    font-family: NunitoRegular;
  }
  
  .developers_page01 p{
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 70px;
  }
  
  .developers_page01{
    background-image: url(https://myrealhub.000webhostapp.com/images/developers/bg.jpg);
    background-size: 100% 100%;
    width: 100%;
  }
  
  .developers_page01 .viewallx {
      text-align: center;
  }
  
  .developers_page01 .viewallx a {
      color: #ffffff;
      border: solid 1px #fff;
      padding: 10px;
      display: block;
      width: 200px;
      margin: 0 auto;
      margin-bottom: 50px;
      margin-top: 50px;
  }
  
  .resourcepage_buyer{
      background: #bedb99;
  }
  .resourcepage_buyer .banner img{
    height: 500px;
    width: 100%;
  }
  
  .resourcepage_buyer01{
    background: #95d1eb;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  
  .resourcepage_buyer01 img, .resourcepage_buyer02 img, .resourcepage_buyer03 img, .resourcepage_buyer04 img, .resourcepage_buyer05 img, .resourcepage_buyer06 img, .resourcepage_buyer07 img, .resourcepage_buyer08 img, .resourcepage_buyer09 img{
    width: 80%;
  }
  
  .resourcepage_buyer02{
    text-align: center;
    margin-top: -96px;
  }
  
  .resourcepage_buyer03, .resourcepage_buyer04, .resourcepage_buyer05, .resourcepage_buyer06, .resourcepage_buyer07, .resourcepage_buyer08, .resourcepage_buyer09{
    text-align: center;
    background: #bedb99;
  }
  
  .resourcepage_buyer09{
    padding-bottom: 50px;
  }
  
  .resourcepage_seller{
      background: #dcf0f7;
  }
  .resourcepage_seller .banner img{
    height: 500px;
    width: 100%;
  }
  
  .resourcepage_seller01{
    padding: 200px;
  }
  
  .property_btn{
    text-align: center;
  }
  
  .property_btn a {
      background: #bce27f;
      font-family: NunitoRegular;
      font-size: 16px;
      padding: 7px 45px;
      color: #2f2626;
  }

  .search_list_wrap{
    display: inline-block;
  }

  .search_list img{
    width: 100%;
 }

 .detailslider {
  padding-top: 25px;
}

 .detailslider .slick-dots li img{
  width: 100px;
  height: 65px;
}

 

 .detailslider .slick-dots li{
  margin: 0 45px;
 }

 .detailslider .slick-dots{
  position: relative;
  bottom: auto;
 }

.search_slider{
  padding-top: 80px;
  padding-bottom: 80px;
}

.search_slider .slick-active{
  text-align: left;
}

.search_slider .slick-active span, .search_slider .slick-slide span {
  font-size: 20px;
  top: 50px;
  padding-left: 20px;
  text-transform: uppercase;
}

.search_slider .slide_description {
  position: absolute;
  top: 280px;
  padding-left: 20px;
}

.search_slider .slide_description p {
  color: #fff;
  line-height: 15px;
}

.search_slider .slide_description .price {
  font-size: 20px;
  font-weight: bold;
}

.search_pro_near .title{
  padding-bottom: 40px;
}

.aboutuspage{
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutuspage h1{
  font-family: OswaldBold;
  color: #777;
}

.profilePage{
  width: 100%;
  padding-left: 20px;
}

.profilePageLeft .logo{
  text-align: center;
  width: 100%;
  padding: 10px;
	-webkit-box-shadow: 0 8px 6px -6px #ccbebe;
	   -moz-box-shadow: 0 8px 6px -6px #ccbebe;
	        box-shadow: 0 8px 6px -6px #ccbebe;
}

.profilePageLeft .logo img{
  width: 80%;
}

.profilePageLeft .name{
  text-align: center;
  font-size: 25px;
  font-family: OswaldMedium;
}

.profilePageLeft .name .icon a{
   margin-right: 20px;
}

.profilePageLeft .name .icon {
  border-bottom: solid 1px #e8dbdb;
  padding-bottom: 30px;
  padding-left: 20px;
}

.profilePageLeft .name{
  height: 100px;
}

.profilePageLeft .fullName{
  margin-top: -30px;
  font-size: 18px;
}

.profilePageLeft .desig{
  font-size: 20px;
  font-size: 15px;
  font-family: NunitoRegular;
}

.profilePageLeft .pageList{
  display: block;
  text-align: left;
  padding-left: 50px;
}

.profilePageLeft .pageList a{
  font-size: 15px;
  font-family: NunitoRegular;
}

.profilePageLeft .pageList img{
  margin-right: 10px;
}

.profilePageHeader{
  background: #586f5f;
  height: 72px;
  padding: 20px 0px 20px 20px;
}

.profilePageHeader input{
  background: url('./images/profile/search.png') #586f5f;
  background-repeat: no-repeat;
  background-position: 95%;
  border: solid 1px #fff;
  border-radius: 50px;
  color: #fff;
  padding: 0px 10px;
}

.profilePageHeader ::-webkit-input-placeholder {
  color: #fff;
}

.profilePageHeader :-moz-placeholder { /* Firefox 18- */
  color: #fff;  
}

.profilePageHeader ::-moz-placeholder {  /* Firefox 19+ */
  color: #fff;  
}

.profilePageHeader :-ms-input-placeholder {  
  color: #fff;  
}

.profilePageHeader .right img{
  margin-left: 25px;
  width: 18px;
}

.profilePageMainRight{
  padding:40px 30px;
  background: #e8ecef;
}

.profilePageRight .header {
  text-align: center;
  background: #586f5f;
  color: #9ce99b;
  padding: 5px 0px;
  font-size: 15px;
  margin-bottom: 10px;
}
 
.profilePageRight .title{
  background: #73a077;
  color: #fff;
  padding: 4px 10px;
  font-size: 13px;
  font-style: italic;
}

.profilePageRight .properList:nth-child(2n+0) {
  background: #4f6455;
  margin: 0px;
  padding: 15px 0px;
}


.profilePageRight .properList {
  background: #586f5f;
  margin: 0px;
  padding: 15px 0px;
}

.profilePageRight .properList .col-md-6{
  border-right: solid 1px #9ea298;
}

.profilePageRight .properList .name{
  color:#a4c576;
  line-height: 1em;
  font-size: 13px;
  font-family: NunitoRegular;
}

.profilePageRight .properList .desig{
  color:#fff;
  line-height: 1.1em;
  font-size: 12px;
  font-family: NunitoRegular;
}

.profilePageRight .properList .date{
  color:#fff;
  line-height: 1.1em;
  font-size: 12px;
  font-family: NunitoRegular;
}

.profilePageRight .properList .info{
  padding-left: 30px;
}

.profilePageRight .properList .propertype{
  color: #fff;
  font-size: 12px;
  line-height: 1em;
}
 
.profilePageRight .properList .forsale{
  color: #fff;
  font-size: 11px;
  line-height: 1.3em;
}

.profilePageRight .properList .price{
  color:#a4c576;
  font-size: 11px;
  line-height: 1.3em;
}

.profilePageRight .properList .right{
  padding-left: 30px;
  border: 0px;
}

.profilePageRight .regions .title {
  background: #73a077;
  color: #fff;
  padding: 4px 10px;
  font-size: 13px;
  font-style: italic;
  margin-top: 10px;
}

.profilePageRight .regions .country{
  color: #fff;
  font-size: 13px;
} 

.profilePageRight .regions .total{
  color:#a4c576;
  font-size: 13px;
} 

.profilePageRight .regions .row:nth-child(2n+0) {
  background: #4f6455;
  margin: 0px;
  padding: 15px 0px;
}
 
.profilePageRight .regions .row {
  background: #586f5f;
  margin: 0px;
  padding: 15px 0px;
}

.middleprofilePage progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 100%;
  height: 10px;
}

.middleprofilePage progress[value]::-webkit-progress-bar {
  background-color: #e8ecef;
  border-radius: 2px;
}

.middleprofilePage progress[value]::-webkit-progress-value {
  background: #b3f18e; 
}

.middleprofilePage .section01{
  width: 100%;
}

.middleprofilePage .section01 .list{
  background: #fff;
  padding: 15px 20px;
  width: 20%;
  border-right: solid 15px #e8ecef;
}

.middleprofilePage .section01 .list:last-child{
  border-right: solid 0px #e8ecef;
}


.middleprofilePage .total{
  font-size: 25px;
  padding-bottom: 20px;
}

.middleprofilePage .title{
  color:  #a3a3a3;
  font-size: 13px;
}

.middleprofilePage .topTitle{
  margin-left: -15px;
  color: #566e5e;
  font-weight: bold;
}

.middleprofilePage .monthlyRepoort {
  background: #fff;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
}

.middleprofilePage .monthlyRepoort .mTitle{
  font-weight: bold;
  color: #207795;
}

.middleprofilePage .monthlyRepoort .mList{
  text-align: center;
  padding: 20px;
}

.middleprofilePage .monthlyRepoort .mList p{
  font-size: 20px;
  line-height: 1.3em;
}

.middleprofilePage .monthlyRepoort .mList p span{
  font-size: 13px;
  color: #207795;
  font-weight: bold;
}

.middleprofilePage .propertyView {
  background: #fff;
  width: 100%;
  margin-top: 20px;
  padding: 30px;
}

.middleprofilePage .proView{
  font-weight: bold;
  color: #207795;
}

.middleprofilePage .propertyView .pList p{
  text-align: center;
  color: #207795;
}

.middleprofilePage .pProper p{
  text-align: center;
}



.set-size {
  font-size: 13em;
}

.charts-container:after {
  clear: both;
  content: "";
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
  font-family: NunitoRegular;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: 0.45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #e5e5e5;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #31829d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}
.pie-wrapper.progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #82b3c4;
}
.pie-wrapper.progress-45 .pie .left-side {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #c5f882;
}
.pie-wrapper.progress-75 .pie .left-side {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #005e70;
}
.pie-wrapper.progress-95 .pie .left-side {
  -webkit-transform: rotate(342deg);
          transform: rotate(342deg);
}
.pie-wrapper.progress-95 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0 / 50%;
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}
.pie-wrapper--solid.progress-65 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e67e22), color-stop(50%, #34495e));
  background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
  background: #e67e22;
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #9b59b6), color-stop(50%, #34495e));
  background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
  background: #34495e;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #3498db), color-stop(50%, #34495e));
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  -webkit-transform: rotate(43.2deg);
          transform: rotate(43.2deg);
}

.carousel-inner{
  height: 700px;
}

/*---------------------------------------
   RESPONSIVE STYLES              
-----------------------------------------*/

@media screen and (max-width: 1170px) {
  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: inherit;
  }
}

@media only screen and (max-width: 1200px) {
  .about-info {
    padding-right: 0;
  }

  .about-image {
    position: relative;
  }
}

@media only screen and (max-width: 992px) {
  section {
    padding: 60px 0;
  }

  .custom-navbar .section-btn {
    margin-left: 1em;
  }

  .slider .item {
    background-position: center;
  }

  .about-info {
    padding: 0;
  }

  .team-info {
    margin-bottom: 50px;
  }

  #menu .menu-thumb {
    width: 103%;
  }

  #testimonial {
    background-position: 50% 0 !important;
  }

  #google-map,
  .footer-info {
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .custom-navbar .nav li a {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 2.5em;
  }

  h1,
  h2,
  h3 {
    line-height: normal;
  }

  .custom-navbar {
    background: #ffffff;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    text-align: center;
  }

  .custom-navbar .nav li a {
    line-height: normal;
    padding: 10px;
  }

  .custom-navbar .navbar-brand,
  .top-nav-collapse .navbar-brand {
    color: #252525;
    font-weight: 600;
  }

  .custom-navbar .nav li a,
  .top-nav-collapse .nav li a {
    color: #333;
  }

  .custom-navbar .navbar-nav.navbar-right li {
    display: inline-block;
  }

  .custom-navbar .navbar-nav.navbar-right .section-btn {
    display: block !important;
    width: 50%;
    margin: 10px auto 10px auto;
    padding: 10px;
  }

  .custom-navbar .section-btn a {
    color: #ffffff !important;
  }

  .slider .caption {
    padding: 0;
  }

  .menu-thumb .menu-info {
    top: 80%;
  }

  footer {
    padding: 60px 0;
    padding-bottom: 60px;
  }

  .footer-open-hour {
    right: 0;
    bottom: 0;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 2.1em;
  }

  h2 {
    font-size: 1.8em;
  }

  .menu-thumb .menu-info {
    top: 60%;
  }
}
